{% extends 'base.html' %}


{% block content %}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>Gestion Exercices</h4>
                </div>

            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-4">
                <div class="card">
                    <div class="card-body d-flex">
                        <div class="w-50 pr-3">
                            <form action="{%url 'exercices_create' %}" method="post">
                                {% csrf_token %}
                                {{ form_class.as_p }}
                                <p class="text-right mt-5">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </p>
                            </form>
                        </div>
                        <div class="w-50 pl-3">
                            <h3>Exercices</h3>
                            {% for object in exercices %}
                            <div class="card m-3">
                                <div class="card-body">
                                    <h3>{{ object.label }}</h3>
                                    <h6 class="text-muted"><span class="fa fa-calendar"></span> {{ object.date_debut }} -
                                        {{object.date_fin}}
                                    </h6>
                                </div>
                            </div>
                            {% empty %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
{% endblock %}