{% extends 'base.html' %}


{% block content %}
<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h4>Paramètres</h4>
        </div>

      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
        <div class="card">
          <div class="card-header card-no-border total-revenue">
            <h4>Liste des composantes</h4><a href="product.html"><button class="btn btn-sm btn-primary">Ajouter</button></a>
          </div>
          <div class="card-body pt-0">
            <div class="table-order table-responsive ">
              <table class="table table-responsive w-100 ">
                <thead>
                  <tr>
                    <th>Numéro</th>
                    <th>Nom</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                    </td>
                    <td class=""></td>
                    <td class=""></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock %}