{% extends 'base.html' %}


{% block content %}
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-6">
                        <h4>Liste des activités</h4>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid" x-data="{query: '', indicateur: '', direction: ''}">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="query">Rechercher une activité</label>
                                <input type="text" x-model="query" placeholder="Rechercher une activité" class="form-control">&nbsp;
                            </div>
                            <div class="col-4">
                                <label for="indicateur">Indicateur</label>
                                <select name="indicateur" x-model="indicateur" id="indicateur" class="form-control">
                                    <option value="">Tous</option>
                                    {% for object in indicateurs %}
                                        <option value="{{ object.pk }}">{{ object.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="direction">Direction</label>
                                <select name="direction" x-model="direction" id="direction" class="form-control">
                                    <option value="">Tous</option>
                                    {% for object in directions %}
                                        <option value="{{ object.pk }}">{{ object.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive table">
                            <table class="table">
                                <tr>
                                    <th>Indicateur</th>
                                    <th>Activité</th>
                                    <th>Departement</th>
                                    <th>Suivi UGP</th>
                                    <th></th>
                                </tr>
                                {% for object in object_list %}
                                    <tr x-show="(
                                              JSON.stringify('{{ object.label|escapejs }}').toLowerCase().includes(query.toLowerCase())
                                              && indicateur === ''
                                            ) ||
                                            (
                                              indicateur === '{{ object.indicateur.pk }}'
                                              && direction === ''
                                            ) ||
                                            (
                                              direction === '{{ object.departement.pk }}'
                                            )">
                                        <td>{{ object.indicateur.label }}</td>
                                        <td style="width: 700px">{{ object.label }}</td>
                                        <td style="width: 700px">{{ object.departement }}</td>
                                        <td>
                                            <span class="badge badge-success">{{ object.ugp }}</span>
                                        </td>
                                        <td>



                                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#add-tdr-{{ object.pk }}">+ TDR
                                                </button>
                                                <div class="modal  fade" id="add-tdr-{{ object.pk }}">
                                                    <div class="modal-dialog bg-white ">
                                                        <div class=" bg-white modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Ajouter un TDR à cette activité</h5>
                                                            </div>
                                                            <div class="modal-body text-black">
                                                                <form action="{% url 'suivi:create_tdr' %}" method="post"
                                                                      enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="activity_id" value="{{ object.id }}">
                                                                    <div class="form-group mb-3">
                                                                        <label for="">Titre</label>
                                                                        <input type="text" name="label"
                                                                               class="form-control">
                                                                    </div>
                                                                    <div class="form-group mb-3">
                                                                        <label for="">Fichier</label>
                                                                        <input type="file" name="file" id=""
                                                                               class="form-control">
                                                                    </div>
                                                                    <div class="text-right mt-3">
                                                                        <button class="btn btn-sm btn-primary">Enregistrer
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </td>
                                    </tr>
                                    {% for tdr in object.tdr_set.all %}
                                        <tr x-show="(
                                              JSON.stringify('{{ object.label|escapejs }}').toLowerCase().includes(query.toLowerCase())
                                              && indicateur === ''
                                            ) ||
                                            (
                                              indicateur === '{{ object.indicateur.pk }}'
                                              && direction === ''
                                            ) ||
                                            (
                                              direction === '{{ object.departement.pk }}'
                                            )"  style="background-color: #cccccc">
                                            <td  colspan="2">{{ tdr.label }}</td>
                                            <td></td>
                                            <td>
                                                <td>
                                                    <div class="d-flex">
                                                        {% if tdr.has_comments and tdr.state == 0 %}
                                                            <a href="{% url 'suivi:tdr_download' pk=tdr.id %}" class="btn btn-sm btn-primary" title="Télécharger">
                                                                Télécharger
                                                            </a>
                                                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                                                    data-bs-target="#add-tdr-{{ tdr.pk }}"> Joindre
                                                            </button>
                                                            <div class="modal  fade" id="add-tdr-{{ tdr.pk }}">
                                                                <div class="modal-dialog bg-white ">    
                                                                    <div class=" bg-white modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Joindre un TDR à cette activité</h5>
                                                                        </div>
                                                                        <div class="modal-body text-black">
                                                                            <form action="{% url 'suivi:update_tdr' pk=tdr.pk %}?&next={{ request.path }}" method="post"
                                                                                  enctype="multipart/form-data">
                                                                                {% csrf_token %}
                                                                                <div class="mb-3">
                                                                                    <label for="">Fichier</label>
                                                                                    <input type="file" name="file" id="" class="form-control">
                                                                                </div>
                                                                                <input type="hidden" name="state" value="0">
                                                                                
                                                                                <div class="text-right mt-3">
                                                                                    <button class="btn btn-sm btn-primary">Enregistrer</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                        {% if tdr.state < 10 %}
                                                            <a href="{% url 'suivi:update-tdr-state' pk=tdr.id %}?state=10&next={{ request.path}}" class="btn btn-sm btn-success">
                                                                <span class="fa fa-check"></span>
                                                            </a>
                                                        <a href="{% url 'suivi:delete_tdr' pk=tdr.id %}" class="btn btn-sm btn-outline btn-danger">
                                                            <span class="fa fa-times"></span> 
                                                        </a>
                                                        {% elif tdr.state == 30 %}
                                                        
                                                            <a  data-bs-toggle="modal" data-bs-target="#finalize-tdr-{{ tdr.pk }}" class="btn btn-xs btn-info">
                                                                <span class="fa fa-upload"></span>
                                                                Tdr Fin D'activité
                                                            </a>
                                                        {% elif tdr.state == 100 %}
                                                        <div class="ml-3 text-success">Finalisé</div>
                                                        {% else %}
                                                            <span >
                                                                En attente de validation
                                                            </span>
                                                        {% endif %}
                                                        <div class="modal" id="finalize-tdr-{{ tdr.pk }}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content bg-white text-black">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Finaliser le TDR</h5>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form action="{% url 'suivi:finalize_tdr' pk=tdr.id %}?next={{ request.path }}" method="post">
                                                                            {% csrf_token %}
                                                                            <div class="mb-3">
                                                                                <label for="">TDR Final</label>
                                                                                <input type="file" name="file_final" id="" class="form-control">
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="">Leçons apprises</label>
                                                                                <textarea name="lessons" id="" rows="3" class="form-control"></textarea>
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="">Risques</label>
                                                                                <textarea name="risks" id="" rows="3" class="form-control"></textarea>
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="">Recommandations</label>
                                                                                <textarea name="recommandations" id="" rows="3" class="form-control"></textarea>
                                                                            </div>
                                                                            <div class="text-right mt-3">
                                                                                <button class="btn btn-sm btn-primary">Finaliser</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
