{% load static humanize %}

<div class="card o-hidden small-widget">
  <div class="card-body total-project border-b-primary border-2"><span class="f-light f-w-500 f-14">{{ label }}</span>
    <div class="project-details">
      <div class="project-counter">
        <h2 class="f-w-600">{{ value|intcomma }} <small style="font-size: 15px">FCFA</small></h2><span class="f-12 f-w-400">(This month)</span>
      </div>
      <div class="product-sub bg-primary-light">
        <svg class="invoice-icon">
          <use href="{% static '/assets/svg/icon-sprite.svg#color-swatch' %}"></use>
        </svg>
      </div>
    </div>
    <ul class="bubbles">
      <li class="bubble"></li>
      <li class="bubble"></li>
      <li class="bubble"></li>
      <li class="bubble"></li>
      <li class="bubble"></li>
      <li class="bubble"></li>
      <li class="bubble"></li>
      <li class="bubble"></li>
      <li class="bubble"></li>
    </ul>
  </div>
</div>